<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Pay My Buddy - Account</title>
  <link href="css/stylesheet.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/home}">Pay My Buddy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
          <a class="nav-link active" aria-current="page" th:href="@{/transfer}">Transfer</a>
          <a class="nav-link active current" aria-current="page" th:href="@{/account}">My Account</a>
          <a class="nav-link active" aria-current="page" th:href="@{/transaction}">Transaction</a>
          <a class="nav-link active" aria-current="page" th:href="@{/contact}">Contact</a>
          <a class="nav-link active" aria-current="page" th:href="@{/logout}">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br/><br/><br/>

<div class="container">
  <div class="row col-md-8 offset-md-2">
    <div class="card">
      <div class="card-headers">
        <h2 class="text-center">Transfer to or from your bank account</h2>
      </div>
      </br>
      <h3 class="text-center">Balance : <span th:text="${balance}"></span></h3>
      <div th:if="${param.success}">
        <div class="alert alert-success">
          You have successfully transferred the amount!
        </div>
      </div>
      <div class="card-body">
        <p>Specify the amount you would credit from your bank account</p>
        <form
                method="post"
                role="form"
                th:action="@{/account}"
                th:object="${transfer_amount}"
        >
          <div class="form-group mb-3">
            <label class="form-label">Amount</label>
            <input
                    class="form-control"
                    id="transfer_amount"
                    name="transfer_amount"
                    placeholder="Enter the amount you would transfer"
                    th:field="*{amount}"
                    type="text"
            />
            <p th:errors="*{amount}" class="text-danger"
               th:if="${#fields.hasErrors('amount')}"></p>
          </div>
          </br>
          <div class="form-group mb-3">
            <select th:field="*{bic}">
              <option value=""> -- select an account -- </option>
              <option th:each="add_account : ${add_account}" th:value="${add_account.getBic()}" th:text="${add_account.getBic()}"></option>
            </select>
            <p th:errors="*{bic}" class="text-danger"
               th:if="${#fields.hasErrors('bic')}"></p>
          </div>
          </br>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Transfer</button>
            <br/>
            <span>Want to add a bank account? <a th:href="@{/addaccount}">Add here</a></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


</body>
</html>