<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Pay My Buddy - Home</title>
    <link href="css/stylesheet.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/transfer}">Pay My Buddy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                    <a class="nav-link active current" aria-current="page" th:href="@{/transfer}">Transfer</a>
                    <a class="nav-link active" aria-current="page" th:href="@{/account}">My Account</a>
                    <a class="nav-link active" aria-current="page" th:href="@{/transaction}">Transaction</a>
                    <a class="nav-link active" aria-current="page" th:href="@{/contact}">Contact</a>
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Log off</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</br></br></br>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-headers">
                <h2 class="text-center">Transfer money</h2>
            </div>
            </br>
            <h3 class="text-center">Balance : <span th:text="${solde}"></span></h3>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully sent money!
                </div>
            </div>
            <p>0.5% fee will be added on the amount given</p>
            <p>Please verify that you have enough money on your balance before sending</p>
            <div class="error" th:if="${#fields.allErrors()}">
                <div  th:text="${message_error}">
                </div>
            </div>
            <div class="card-body">
                <form
                        method="post"
                        role="form"
                        th:action="@{/transfer}"
                        th:object="${money_transfer}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">Amount</label>
                        <input
                                class="form-control"
                                id="amount"
                                name="amount"
                                placeholder="Enter the amount you would transfer"
                                th:field="*{amount}"
                                type="text"
                        />
                        <p th:errors="*{amount}" class="text-danger"
                           th:if="${#fields.hasErrors('amount')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Reference of transaction</label>
                        <input
                                class="form-control"
                                id="reference"
                                name="reference"
                                placeholder="Enter what kind of transfer it is"
                                th:field="*{transactionType}"
                                type="text"
                        />
                        <p th:errors="*{transactionType}" class="text-danger"
                           th:if="${#fields.hasErrors('transactionType')}"></p>
                    </div>
                    </br>
                    <div class="form-group mb-3">
                        <select th:field="*{contactEmail}">
                            <option value=""> -- select a contact -- </option>
                            <option th:each="contact_list : ${contact_list}" th:value="${contact_list.getEmail()}" th:text="${contact_list.getEmail()}"></option>
                        </select>
                        <p th:errors="*{contactEmail}" class="text-danger"
                           th:if="${#fields.hasErrors('contactEmail')}"></p>
                    </div>
                    </br>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>